body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    height: 100vh; /*reaches 100% of height of the screen*/
}

h1, p, a, button, input {
    font-family: Roboto, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
}

.sidebar {
    background-color: burlywood;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    background-color: #fff;
    padding: 32px;
}

#content {
    text-align: center;
}

.topPortion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.todo-text {
    text-align: center;
}

.topPart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

#new-todo-btn {
    font-size: 16px;
    cursor: pointer;
    width: 6vw;
    height: 6vh;
}

#new-project-btn {
    font-size: 16px;
    cursor: pointer;
    width: 6vw;
    height: 6vh;
}

.projectHeader {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.projectAndButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 15px;
}

#project-list {
    margin-top: 2rem;
    padding: 1rem;
    border-top: 1px solid black;
    width: 18vw;
    list-style-type: none;
    display: block; 
}

.project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.project-link {
    text-decoration: none; /* remove underline */
    color: black;
    font-size: 20px;
}

.project-link:hover {
    color: white;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 400px; 
    height: 400px;
}

.card {
    background-color: #FAEBD7; 
    border-radius: 10px;
    width: 100%;
    height: 100px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    box-sizing: border-box;
}

.cardContents {
    display: flex;
    flex-direction: row; /* Keep the direction as row */
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Ensure it spans the full width of the card */
}

.priorcheckDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.priority {
    color: white;
    font-weight: bold;
    height: 100%; /* Takes full height of card */
    width: 100px; /* Fixed width for priority column */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.buttonsDiv {
    display: flex;
    gap: 8px;
}

.buttonsDiv button {
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.deleteButton {
    background-image: url(../images/trashCan.png);
    background-size: contain; /* to make the entire image fit within the button */
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.deleteProjectButton {
    background-image: url(../images/trashCan.png);
    background-size: contain; /* to make the entire image fit within the button */
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.editButton {
    background-image: url(../images/delete.png);
    background-size: contain; /* to make the entire image fit within the button */
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}